<!doctype html>
<html>
<head>
    <title>Mike and Jenn Wedding Spotify Controller</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>
<header>
    <h1>Our Wedding Jukebox!</h1>
    <h2>{{subtitle}}</h2>
</header>

{{{body}}}

</body>
</html>


