<!doctype html>
<html>
<head>
    <title>Mike and Jenn Wedding Spotify Controller</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>
    <div class="container-fluid">
        <header>
            <h1>Our Wedding Jukebox!</h1>
            <h2>{{subtitle}}</h2>
        </header>

        {{{body}}}
    </div>
</body>
</html>


