<h4>Hi {{{ name }}}!</h4>
<p>Welcome to our wedding jukebox!</p>
<p>See what's playing next by clicking the 'Playlist' button.</p>
<p>To search Spotify and add a song, click on the 'Search' button</p>