<div class="table-responsive">
    <h4>Please enter your name so we know who chose which song.</h4>
    <form method="post" action="/login">
        <table class="table table-condensed">
            <tbody>
            <tr>
                <th>Name: </th>
                <td><input type="text" name="name" size="40" required
                           placeholder="Enter Name"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login"
                           class="btn btn-success">
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>
