{{#if playing.isJukeboxPlaylist }}
    <strong>Now Playing: </strong><p>{{ playing.title }} by {{ playing.artist }}</p>
{{ else }}
    <strong>Wedding Jukebox is not currently playing.</strong>
{{/if }}