<div class="playlist">
    <h2>Playlist</h2>
    <table class="table">
        <thead>
        <tr>
            <th>
                Song Title
            </th>
            <th>
                Artist
            </th>
            <th>
                Album
            </th>
            <th>
                Added By
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each data }}
            <tr class="{{#if this.isCurrentlyPlaying }}active{{/if}}">
                <td>
                    {{ this.title }}
                </td>
                <td>
                    {{ this.artist }}
                </td>
                <td>
                    {{ this.album }}
                </td>
                <td>
                    {{ this.user }}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>