<div class="search">
    <!--<form method="post" action="">-->
        <!--<strong></strong>-->
    <!--</form>-->

    <table>
        <tr>
            {{#each data }}
                <td>
                    {{ this.name }}
                </td>
            {{/each}}
        </tr>
    </table>
</div>