<div class="search">
    <form action="/search" method="post">
        <label for="search_type">Search For Tracks: </label>
        <br>
        <input name="query" type="text" placeholder="Enter Search Terms"/>
        <input name="submit" type="submit">
    </form>
    <br>
    <h2>Results</h2>
    <table class="table">
        <thead>
        <tr>
            <th>
                Song Title
            </th>
            <th>
                Artist
            </th>
            <th>
                Album
            </th>
            <th>
                Link
            </th>
        </tr>
        </thead>
        <tbody>
            {{#each data }}
                <tr>
                    <td>
                        {{ this.name }}
                    </td>
                    <td>
                        {{ this.artists.[0].name }}
                    </td>
                    <td>
                        {{ this.album.name }}
                    </td>
                    <td>
                        {{ this.uri }}
                    </td>
                    <td>
                        Add to Playlist
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>