<div class="search">
    <!--<form method="post" action="">-->
        <!--<strong></strong>-->
    <!--</form>-->

    <h2>Search by Artist:</h2>

    <table class="table">
        <thead>
        <tr>
            <th>
                Song Title
            </th>
            <th>
                Artist
            </th>
            <th>
                Album
            </th>
            <th>
                Link
            </th>
        </tr>
        </thead>
        <tbody>
            {{#each data }}
                <tr>
                    <td>
                        {{ this.name }}
                    </td>
                    <td>
                        {{ this.artists.[0].name }}
                    </td>
                    <td>
                        {{ this.album }}
                    </td>
                    <td>
                        {{ this.external_urls.spotify }}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>